#message{
    color: darkblue;
    background-color: aqua;
    font-size: 15px;
}

p{
    color: darkblue;
    font-size: 20px;
    font-weight: 800;
}


ul{
    color: darkblue;
    font-size: 20px;
}


input{
    color: darkblue;
    font-size: 15px;
    margin: 7px;
}